*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contaoner-box{
    border: 1px solid black;
    width: 420px;
    height: 410px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background-color: rgb(0, 0, 0);
}
.box-1{
    width: 50px;
    height: 50px;
    $bgc1: rgb(random(255),random(255),random(255));  
    background-color: $bgc1 ;
}
.box-2{
    width: 50px;
    height: 50px;
    $bgc2: rgb(random(255),random(255),random(255));  
    background-color: $bgc2 ;
}
#flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .taguhi{
//     width: 50px;
//     height: 50px;
//     position: absolute;
//     z-index: 10;
// }
// .pix{
//     width: 50px;
//     height: 50px;
//     position: absolute;
//     z-index: 11;
// }
// .zinvor{
//     width: 50px;
//     height: 50px;
//     position: absolute;
//     z-index: 12;
// }
// @for $i from 1 through  random(3) {
//     .div-#{$i}> img{
//         // top: random(300) + px;
//         // left: random(300) + px;
//         top: random(150) + px;
//         left: random(150) + px;
//     }
//   }
$b1:random(32);


//bg img
$img1:url("../img/pix.png");
.div-#{$b1}{
  background-image:$img1;
  background-size: 50px;
  z-index: 5;
  }


  $b1:random(32);


//bg img
$img1:url("../img/pix.png");
.div-#{$b1}{
  background-image:$img1;
  background-size: 50px;
  z-index: 5;
  }